

<h1 class="shadow"> Character List</h1>

<tr *ngFor="let char of characters">
<div class="shadowbox">
    <div>
        <label> <b>Id: </b></label> {{char.Id}}
    </div>
    <div>
      <label> <b> Name : </b></label> {{char.name}}
    </div>
    <div>
      <label> <b> Race: </b></label> {{char.race}}
      </div>
      <div>
      <label> <b> Gender: </b></label> {{char.gender}}
    </div>
    <div>
      <label> <b> Classs: </b></label> {{char.classs}}
    </div>
    <div>
      <label> <b> Intelligence: </b></label> {{char.intelligence}}
    </div>
    <div>
      <label> <b> Wisdom: </b></label> {{char.wisdom}}
    </div>
    <div>
      <label> <b> Charisma: </b></label> {{char.charisma}}
    </div>
    <div>
      <label> <b> Temp Hp: </b></label> {{char.temp_hp}}
    </div>
    <br />
    <div>
      <label> <b> Equipment: </b></label> {{char.equipment_id}}
    </div>
    <br />
    <div>
      <label> <b> UID: </b></label> {{char.uid}}
    </div>
    <br />
    <div>
      <label> <b> Skills: </b></label> {{char.skills}}
    </div>
    <br />
    <div>
      <label> <b> Size: </b></label> {{char.size}}
    </div>

    <div>
      <label> <b> AC: </b></label> {{char.ac}}
    </div>
    <div>
      <label> <b> Speed: </b></label> {{char.speed}}
    </div>
    <div>
      <label> <b> Money: </b></label> {{char.money}}
    </div>
    <div>
      <label> <b> Proficenncy: </b></label> {{char.proficency}}
    </div>
    <div>
      <label> <b> Treasure Id: </b></label> {{char.treasure_id}}
    </div>
</div>
</tr>