<div class="col-md-6 offset-md-3">
    <h3> Create Equipment </h3>
    <form (ngSubmit)="onSubmit()">

        <div class="form-group">
            <label> Name </label>
            <input type="text" class="form-control" id="name" [(ngModel)]="equipment.equipmentName" name="name">
        </div>

        <div class="form-group">
            <label> Type </label>
            <input type="text" class="form-control" id="type" [(ngModel)]="equipment.equipmentType" name="type">
        </div>

        <div class="form-group">
            <label> Price </label>
            <input type="number" class="form-control" id="price" [(ngModel)]="equipment.equipmentPrice" name="price">
        </div>

        <div class="form-group">
            <label> Hit Bonus </label>
            <input type="number" class="form-control" id="hit_bonus" [(ngModel)]="equipment.hitBonus" name="hit_bonus">
        </div>

        <div class="form-group">
            <label> Damage Bonus </label>
            <input type="number" class="form-control" id="damage_bonus" [(ngModel)]="equipment.damageBonus" name="damage_bonus">
        </div>

        <div class="form-group">
            <label> Properties </label>
            <input type="text" class="form-control" id="properties" [(ngModel)]="equipment.equipmentProperties" name="properties">
        </div>

        <div class="form-group">
            <label> Quantity </label>
            <input type="number" class="form-control" id="quantity" [(ngModel)]="equipment.equipmentQuantity" name="quantity">
        </div>

        <div>
            <button class="btn btn-success" type="submit"> Submit </button>
        </div>

    </form>
</div>