<h2 class="text-center">Equipment List</h2>
<table class="table table-striped">
    <thead>
        <tr style="text-align: center">
            <th>ID</th>
            <th>Name</th>
            <th>Type</th>
            <th>Price</th>
            <th>Hit Bonus</th>
            <th>Damage Bonus</th>
            <th>Properties</th>
            <th>Quantity</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr style="text-align: center" *ngFor="let eqmnt of equipment">
            <td>{{ eqmnt.equipmentId }}</td>
            <td>{{ eqmnt.equipmentName }}</td>
            <td>{{ eqmnt.equipmentType }}</td>
            <td>{{ eqmnt.equipmentPrice }}</td>
            <td>{{ eqmnt.hitBonus }}</td>
            <td>{{ eqmnt.damageBonus }}</td>
            <td>{{ eqmnt.equipmentProperties }}</td>
            <td>{{ eqmnt.equipmentQuantity }}</td>
            <td>
                <button (click) = "updateEquipment(eqmnt.equipmentId)" class = "btn btn-info"> Update </button>
                <button (click) = "deleteEquipment(eqmnt.equipmentId)" class = "btn btn-danger" style="margin-left: 10px;"> Delete </button>
            </td>
        </tr>
    </tbody>
</table>