<h3>View Equipment Details</h3>
<div>

    <div>
        <label> <b>Name: </b></label> {{equipment.equipmentName}}
    </div>
    <div>
        <label> <b>Type: </b></label> {{equipment.equipmentType}}
    </div>
    <div>
        <label> <b>Price: </b></label> {{equipment.equipmentPrice}}
    </div>
    <div>
        <label> <b>Hit Bonus: </b></label> {{equipment.hitBonus}}
    </div>
    <div>
        <label> <b>Damage Bonus: </b></label> {{equipment.damageBonus}}
    </div>
    <div>
        <label> <b>Properties: </b></label> {{equipment.equipmentProperties}}
    </div>
    <div>
        <label> <b>Quantity: </b></label> {{equipment.equipmentQuantity}}
    </div>

</div>