<h3> Npc Character Sheet</h3>
<div>
    <div>
        <label> <b> Name: </b></label> {{npc.npcName}}
        <label> <b> Race: </b></label> {{npc.npcRace}}
    </div>
    <div>
      <label> <b> Class: </b></label> {{npc.npcClass}}
      <label> <b> Size: </b></label> {{npc.npcSize}}
      <label> <b> Alignment: </b></label> {{npc.npcAlignment}}
    </div>
    <br />
    <div>
      <label> <b> Strength: </b></label> {{npc.npcStr}}
      <label> <b> Dexterity: </b></label> {{npc.npcDex}}
      <label> <b> Constitution: </b></label> {{npc.npcCon}}
      <label> <b> Intelligence: </b></label> {{npc.npcInt}}
      <label> <b> Wisdom: </b></label> {{npc.npcWis}}
      <label> <b> Charisma: </b></label> {{npc.npcCha}}
    </div>
    <br />
    <div>
      <label> <b> Armor Class: </b></label> {{npc.npcArmorClass}}
      <label> <b> Hit Points: </b></label> {{npc.npcHitPoint}}
    </div>
    <div>
      <label> <b> Speed: </b></label> {{npc.npcSpeed}}
    </div>
    <div>
      <label> <b> Senses: </b></label> {{npc.npcSenses}}
    </div>
    <br />
    <div>
      <label> <b> Skills: </b></label> {{npc.npcSkills}}
    </div>
    <br />
    <div>
      <label> <b> Saving Throws: </b></label> {{npc.npcSavingThrows}}
    </div>
    <br />
    <div>
      <label> <b> Actions: </b></label> {{npc.npcActions}}
    </div>
    <br />
    <div>
      <label> <b> Reactions: </b></label> {{npc.npcReactions}}
    </div>
    <br />
    <div>
      <label> <b> Special Traits: </b></label> {{npc.npcSpecialTraits}}
    </div>
    <br />
    <div>
      <label> <b> Languages: </b></label> {{npc.npcLanguages}}
    </div>
    <br />
    <div>
      <label> <b> Discription: </b></label> {{npc.npcDiscription}}
    </div>
</div>

