 
  <form #register="ngForm" (ngSubmit)="onRegister(register.value)"> 
    <h1>Register</h1>
    Username:<br /> 
    <div class="form-group">
       <input type ="text" class="form-control" name="username" placeholder="Enter Username" required ngModel/> 
    </div>  
    <br /> 
    Password:<br /> 
    <div class="form-group">
    <input type ="password" class="form-control" name="password" placeholder="Enter Password" required ngModel/> 
    </div>
    <br /> 
    Email:<br /> 
    <div class="form-group">
    <input type ="text" class="form-control" name="email" placeholder="Enter Email" required ngModel/> 
    </div>
    <br /> 
    Mobile:<br /> 
    <div class="form-group">
       <input type ="text" class="form-control" name="phone" placeholder="Enter Phone Number" required ngModel/> 
    </div>
    <br /> <br /> 

    <button class="btn btn-success" type="submit">Submit</button>
    

  </form> 
