<form #update="ngForm" (ngSubmit)="onUpdate(update.value)"> 
    <h1>Register</h1>
    Username:<br /> 
    <div class="form-group">
       <input type ="text" class="form-control" name="username" placeholder="Enter Username"  ngModel/> 
    </div>  
    <br /> 
    Password:<br /> 
    <div class="form-group">
    <input type ="password" class="form-control" name="password" placeholder="Enter Password"  ngModel/> 
    </div>
    <br /> 
    Email:<br /> 
    <div class="form-group">
    <input type ="text" class="form-control" name="email" placeholder="Enter Email"  ngModel/> 
    </div>
    <br /> 
    Mobile:<br /> 
    <div class="form-group">
       <input type ="text" class="form-control" name="phone" placeholder="Enter Phone Number"  ngModel/> 
    </div>
    <br /> <br /> 

    <button class="btn btn-success" type="submit">Submit</button>
    <h2>{{message}}</h2>
    
  </form> 
